@use "global" as *;

.sub-campaign__content {
  display: grid;
  gap: rem(40);
  max-width: rem(280);
  width: 100%;
  margin: rem(40) auto 0;

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(85) rem(40);
  max-width: 100%;
  }
}