@use "global" as *;

.sub-mv {
  width: 100%;
  height: rem(460);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @include mq("md") {
    height: rem(548);
  }
}

.sub-mv--campaign {
  background-image: url(../images/common/campaign-sp_01.jpg);

  @include mq("md") {
    background-image: url(../images/common/campaign_01.jpg);
  }
}

.sub-mv--about {
  background-image: url(../images/common/about_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/about_sub-mv_pc.jpg);
  }
}

.sub-mv--info {
  background-image: url(../images/common/info_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/info_sub-mv_pc.jpg);
  }
}

.sub-mv--blog {
  background-image: url(../images/common/blog_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/blog_sub-mv_pc.jpg);
  }
}

.sub-mv--voice {
  background-image: url(../images/common/voice_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/voice_sub-mv_pc.jpg);
  }
}

.sub-mv--price {
  background-image: url(../images/common/price_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/price_sub-mv_pc.jpg);
  }
}

.sub-mv--faq {
  background-image: url(../images/common/faq_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/faq_sub-mv_pc.jpg);
  }
}

.sub-mv--contact {
  background-image: url(../images/common/contact_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/contact_sub-mv_pc.jpg);
  }
}

.sub-mv--sitemap {
  background-image: url(../images/common/sitemap_sub-mv_sp.jpg);

  @include mq("md") {
    background-image: url(../images/common/sitemap_sub-mv_pc.jpg);
  }
}

.sub-mv__title {
  color: $white;
  display: grid;
  place-content: center;
  height: inherit;
  font-family: $second-english-font-family;
  font-weight: $regular;
  font-size: rem(40);

  @include mq("md") {
    font-size: rem(80);
    padding-top: rem(98);
  }
}

.sub-mv__title.sub-mv__title--faq {
  text-transform: uppercase;
}