@use "global" as *;

.sub-about__section {
  position: relative;
}

.sub-about__section::after {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/voice_fish-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: rem(-25);
  left: calc(50% - min(46vw, rem(619)));
  z-index: 0;
  @include mq("md") {
    width: rem(300);
    height: rem(138);
    top: rem(-150);
  }
}

.sub-about__section::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(109);
    height: rem(50);
    background-image: url(../images/common/contact-fish.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: rem(301);
    height: rem(138);
    bottom: rem(-180);
    right: calc(50% - min(48vw, rem(640)));
  }
}
