@use "global" as *;

.blog {
  @include mq("md") {
    position: relative;
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(376);
    height: rem(120);
    background-image: url(../images/common/blog_fish.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: rem(24);
    left: calc(50% - min(48vw, rem(618)));
    z-index: 100;
  }
}

.blog__bg-image {
  display: none;

  @include mq("md") {
    display: block;
    aspect-ratio: 1440 / 550;
    width: 100%;
    height: rem(500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.blog__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__content {
  width: 100%;
  margin: 0 auto;
  margin-top: rem(31);

  @include mq("md") {
    margin-top: rem(82);
    max-width: rem(1080);
  }
}

.blog__button {
  text-align: center;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}