@use "global" as *;

.blog-card {
  display: block;
  padding-left: rem(16);
  padding-right: rem(16);
  padding-top: rem(16);
  padding-bottom: rem(24);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  background-color: $white;
  cursor: pointer;

  @include mq("md") {
    margin: 0;
    position: relative;
  }
}

.blog-card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: inherit;
  background-color: $light-green;
  visibility: hidden;
}

@media (hover: hover) {
  .blog-card:hover::after {
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 0.3;
  }
}

.blog-card.blog-card--widget::after {
  display: none;
}

.blog-card__image {
  aspect-ratio: 300 / 201;
  width: 100%;
}

.blog-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__image.blog-card__image--widget {
  overflow: hidden;
}

.blog-card__image.blog-card__image--widget img {
  transition: transform 0.5s;
}

.blog-card.blog-card--widget:hover .blog-card__image.blog-card__image--widget img {
  transform: scale(1.1);
}

.blog-card__body {
  margin-top: rem(16);
}

.blog-card__date {
  font-family: $english-font-family;
  font-size: rem(12);
  line-height: 1;
  color: $black;
}

.blog-card__title {
  font-size: rem(16);
  color: $black;
  line-height: calc(24 / 16);
  font-weight: $medium;
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);

  @include mq("md") {
    margin-top: rem(2);
  }
}

.blog-card__text {
  padding-top: rem(16);
  line-height: calc(24 / 16);
  font-size: rem(16);
}