@use "global" as *;

.campaign {
  overflow: hidden;

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
  }

  .swiper-button-prev {
    display: none;
    @include mq("md") {
      display: block;
      top: rem(-105);
      left: 54%;
      transform: translateX(rem(160));
      width: rem(80);
      height: rem(80);
      background-image: url(../images/common/prev-button.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  /* 次への矢印 */
  .swiper-button-next {
    display: none;
    @include mq("md") {
      display: block;
      top: rem(-105);
      right: 46%;
      transform: translateX(rem(400));
      width: rem(80);
      height: rem(80);
      background-image: url(../images/common/next-button.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: none;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: none;
  }
}

.campaign__swiper {
  position: relative;
  margin-top: rem(27);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: rem(44);
  }
}

.campaign__swiper-wrapper {
  padding-bottom: rem(10);
  display: grid;
  grid-auto-flow: column;
}

.campaign__button {
  display: block;
  text-align: center;
  margin-top: rem(30);
  margin: 0 auto;
  height: rem(57);
  @include mq("md") {
    margin-top: rem(70);
  }
}
