@use "global" as *;


.faq-box:not(:first-child) {
  margin-top: rem(41);

  @include mq("md") {
    margin-top: rem(38);
  }
}

.faq-box__q {
  background-color: $green;
  padding: rem(16);
  position: relative;
  cursor: pointer;

  @include mq("md") {
    padding: rem(26) rem(40);
  }
}

.faq-box__q h2 {
  color: $white;
  font-size: rem(16);
  font-weight: $regular;

  @include mq("md") {
    font-size: rem(20);
  }
}

.faq-box__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(16);
  width: rem(28);
  height: rem(28);

  @include mq("md") {
    right: rem(40);
  }
}

.faq-box__icon.is-close .faq-box__bar2 {
  transform: rotate(90deg);
}

.faq-box__bar1 {
  width: rem(28);
  height: rem(1);
  background: $white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.faq-box__bar2 {
  width: rem(28);
  height: rem(1);
  background: $white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: transform 0.3s;
}

.faq-box__a {
  padding: rem(24) rem(16);
  border: 1px solid $green;

  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
  }
}

.faq-box__content {
  color: $black;
  font-size: rem(16);
  line-height: 1.4;
}