@use "global" as *;

.footer-pc-nav__items {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: rem(40);
}

.footer-pc-nav__text {
  max-width: calc(25% - rem(40) * 3 / 4);
  width: 100%;
}

.footer-pc-nav__text:nth-child(2) {
  margin-left: rem(16);
}

.footer-pc-nav__container {
  position: relative;
}

.footer-pc-nav__container:not(:first-child) {
  margin-top: rem(18);
}

.footer-pc-nav__container::before {
  position: absolute;
  content: "";
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: rem(12);
  left: rem(-18);
}

.footer-pc-nav__item {
  font-size: rem(16);
  line-height: calc(18 / 16);
  transition: opacity 0.3s;
}

.footer-pc-nav__item--bold {
  font-weight: $bold;
}

.footer-pc-nav__item a {
  padding: rem(12) 0;
  display: block;
  width: 100%;
  color: $white;
}

@media (hover: hover) {
  .footer-pc-nav__item:hover {
    opacity: 0.7;
  }
}