@use "global" as *;

.form{
  text-align: center;
}

.form__item {
  font-size: rem(16);
  font-weight: $bold;
  color: $black;
  padding: rem(22.8) 0;
  border-bottom: 1px dashed $green;

  @include mq("md") {
    display: flex;
    padding: rem(39) 0;
  }
}

.form__item:first-child {
  padding-top: 0;
}

.form__item dt {
  flex: 0 0 rem(220);
}

.form__item dt span {
  display: inline-block;
  background-color: #c94800;
  color: $white;
  font-weight: $regular;
  font-size: rem(12);
  padding: rem(1) rem(18);
  margin-left: rem(8);
}

.form__name,
.form__email,
.form__tel,
.form__checkbox,
.form__campaign,
.form__textarea {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: 0;
    width: 100%;
    flex: 1 1 auto;
  }
}

[type="text"],
[type="email"],
[type="tel"],
textarea {
  display: block;
  font-size: rem(16);
  padding: rem(7) rem(16);
  border: 1px solid $green;
  width: 100%;
}

select {
  display: block;
  font-size: rem(12);
  padding: rem(8) rem(8);
  border: 1px solid $green;
  width: 100%;

  @include mq("md") {
    padding: rem(5) rem(8);
  }
}

.form__item input::placeholder {
  font-size: rem(16);
  color: #ddf0f1;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  gap: rem(4);
}

[type="checkbox"]+span {
  display: block;
  font-weight: $regular;
  font-size: rem(16);
  padding-left: rem(23);
  position: relative;
  text-align: left;
}

[type="checkbox"]+span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: $white;
  border: 1px solid $green;
  width: rem(15);
  height: rem(15);
  display: block;
}

[type="checkbox"]:checked+span::after {
  opacity: 0;
  transition: opacity 0.3s;
}

[type="checkbox"]+span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  opacity: 1;
  /*チェックマークじゃない場合は以下を変更する*/
  transform: translateY(-50%) rotate(-45deg);
  width: calc(rem(14) * 0.9);
  height: calc(rem(14) * 0.5);
  margin-top: -0.1em;
  margin-left: 0.1em;
  border-left: 2px solid #c94800;
  border-bottom: 2px solid #c94800;
}

.form__campaign {
  font-weight: $regular;
  font-size: rem(12);
  color: $black;
  position: relative;
}

.form__campaign::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(9);
  transform: translateY(-50%);
  width: rem(12);
  height: rem(12);
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: $green transparent transparent transparent;
}

textarea {
  height: rem(200);
}

.form__privacy {
  margin-top: rem(42);
  padding: 0 rem(30);
  font-size: rem(14);
  color: $black;
  text-align: center;
  display: inline-block;

  @include mq("md") {
    margin-top: rem(80);
    padding: 0;
  }
}

.form__privacy [type="checkbox"]+span {
  padding-left: rem(30);
  font-size: rem(14);
  color: $black;

  @include mq("md") {
    padding-left: rem(34);
  }
}

.form__privacy [type="checkbox"]+span::before {
  width: rem(22);
  height: rem(22);
  top: 0;
  transform: translateY(0%);
}

.form__privacy [type="checkbox"]+span::after {
  width: calc(rem(18) * 0.9);
  height: calc(rem(18) * 0.5);
  margin-left: 0.2em;
}

.form__button {
  margin-top: rem(24);
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
  }
}