@use "global" as *;

.hamburger {
  position: relative;
  width: rem(32);
  height: rem(24);
  z-index: 1000;

  @include mq("md") {
    display: none;
  }
}

.hamburger span {
  position: absolute;
  background-color: $white;
  width: inherit;
  height: rem(1);
  left: 0;
  border-radius: rem(10);
  transition: 0.5s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  bottom: 0;
}


.hamburger.is-active span:nth-child(1) {
  top: 50%;
  left: rem(-4);
  width: rem(40);
  transform: rotate(37deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  bottom: 50%;
  left: rem(-4);
  width: rem(40);
  transform: rotate(-37deg);
}