@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(13, 41, 54, 0.68);
  height: rem(80);
  width: 100%;
  transition: background-color 0.3s;

  @include mq("md") {
    height: rem(90);
  }
}

.header.is-active {
  background-color: $green;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0 rem(15);

  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(20);
  }
}

.header__logo {
  z-index: 1000;
}

.header__logo,
.header__logo-link {
  height: inherit;
}

.header__logo-link a {
  display: block;
  height: inherit;
}

.header__logo-link img {
  display: block;
  width: rem(102);
  height: inherit;
  object-fit: contain;

  @include mq("md") {
    width: rem(133);
  }
}