@use "global" as *;

.mv-movie-bg {
  @include mq("md") {
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }
}

.mv-movie-bg.is-active {
  visibility: visible;
  opacity: 1;
}

.mv-movie-bg__container {
  display: none;

  @include mq("md") {
    display: flex;
    height: 100vh;
    width: 100%;
  }
}

.mv-movie-bg__left-image {
  @include mq("md") {
    width: 50%;
    aspect-ratio: 720 / 768;
    animation-name: fadeup-left;
    animation-duration: 4.5s;
    // animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 1000;
  }
}

@keyframes fadeup-left {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.mv-movie-bg__left-image img {
  @include mq("md") {
    height: 100vh;
    width: 100%;
    object-position: right center;
    object-fit: cover;
  }
}

.mv-movie-bg__right-image {
  @include mq("md") {
    width: 50%;
    aspect-ratio: 720 / 768;
    animation-name: fadeup-right;
    animation-duration: 3.95s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1000;
  }
}

@keyframes fadeup-right {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.mv-movie-bg__right-image img {
  @include mq("md") {
    height: 100vh;
    width: 100%;
    object-position: left center;
    object-fit: cover;
  }
}

.mv-movie-bg__white {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  animation-name: fadeOut;
  /* 定義したアニメーションを指定 */
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
  /* アニメーション終了後に最終ステップのスタイルを維持 */
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}