@use "global" as *;

.mv-movie__text {
  display: none;

  @include mq("md") {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    animation-name: fadeOut;
    /* 定義したアニメーションを指定 */
    animation-duration: 3s;
    /* アニメーションの時間 */
    animation-fill-mode: forwards;
    /* アニメーション終了後に最終ステップのスタイルを維持 */
    background-color: $white;
    visibility: hidden;
    opacity: 0;
  }
}

.mv-movie__text.is-active {
  @include mq("md") {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.mv-movie__title {
  @include mq("md") {
    font-size: rem(75);
    letter-spacing: 0.53em;
    text-indent: 0.3em;
    line-height: 1;
    font-weight: $regular;
    font-family: $second-english-font-family;
    text-transform: uppercase;
    text-align: center;
    color: $green;
    padding-top: rem(70);
  }
}

.mv-movie__subtitle {
  @include mq("md") {
    font-size: rem(20);
    line-height: 1;
    font-family: $english-font-family;
    text-align: center;
    margin-top: rem(8);
    color: $green;
  }
}