@use "global" as *;

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__prev a {
  border: 1px solid $green;
  color: $green;
  padding: rem(17) rem(18);
  position: relative;
  display: block;
}


.pagination__prev a::before {
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/pagination-prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s;

}

.pagination__prev a:hover {
  background-color: $green;
  transition: background 0.3s;
}

.pagination__prev a:hover::before {
  background-image: url(../images/common/pagination-prev_white.png);
}

.pagination__number {
  border: 1px solid $green;
  color: $green;
  padding: rem(7) rem(13);
  text-align: center;
  font-family: $second-english-font-family;
  font-size: rem(16);
  font-weight: $bold;
  margin-left: rem(12);
  cursor: pointer;
  transition: background 0.3s;
}

.pagination__number:hover {
  background-color: $green;
  color: $white;
}

.pagination__number--first {
  margin-left: rem(42);
}

.pagination__number.is-active {
  background-color: $green;
  color: $white;
}

.pagination__next a {
  border: 1px solid $green;
  color: $green;
  padding: rem(17) rem(18);
  margin-left: rem(40);
  position: relative;
  display: block;
}

.pagination__next a::before {
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/pagination-next.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s;
}

.pagination__next a:hover {
  background-color: $green;
  transition: background 0.3s;
}

.pagination__next a:hover::before {
  background-image: url(../images/common/pagination-next_white.png);
}

.pagination__next--page-blog {
  margin-left: rem(42);
}

//*=========================================================
//# ページネーション
//=========================================================*
/* PC: 数字は6個まで */
.sub-blog__pagination .page-numbers.is-numeric:nth-of-type(n+6) {
  display: none;
}

/* スマホ: 数字は4個まで */
@media (max-width: 768px) {
  .sub-blog__pagination .page-numbers.is-numeric:nth-of-type(n+4) {
    display: none;
  }
}


.pagination .page-numbers {
  border: 1px solid $green;
  color: $green;
  padding: rem(7) rem(13);
  text-align: center;
  font-family: $second-english-font-family;
  font-size: rem(16);
  font-weight: $bold;
  margin-left: rem(12);
  cursor: pointer;
  transition: background 0.3s;
}

.pagination .page-numbers:hover {
  background-color: $green;
  color: $white;
}

.pagination .page-numbers.current {
  background-color: $green;
  color: $white;
}

.pagination .prev{
  border: 1px solid $green;
  color: $green;
  padding: rem(17) rem(18);
  position: relative;
  display: block;
}


.pagination .prev::before {
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/pagination-prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s;

}

.pagination .prev:hover {
  background-color: $green;
  transition: background 0.3s;
}

.pagination .prev:hover::before {
  background-image: url(../images/common/pagination-prev_white.png);
}

.pagination .next{
  border: 1px solid $green;
  color: $green;
  padding: rem(17) rem(18);
  position: relative;
  display: block;
}

.pagination .next::before {
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/pagination-next.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s;
}

.pagination .next:hover {
  background-color: $green;
  transition: background 0.3s;
}

.pagination .next:hover::before {
  background-image: url(../images/common/pagination-next_white.png);
}