@use "global" as *;

.page-blog__date {
  font-family: $english-font-family;
  font-size: rem(14);
  line-height: 1;
  color: $black;
}

.page-blog__title {
  font-size: rem(24);
  font-weight: $regular;
  color: $black;
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
  margin-top: rem(7);
  @include mq("md") {
    font-size: rem(32);
    padding-bottom: 0;
  }
}

.page-blog__thumbnail img{
  aspect-ratio: 345 / 231;
  width: 100%;
  height: 100%;
  margin-top: rem(24);
  object-fit: cover;
  @include mq("md") {
    margin-top: rem(38);
  }
}

.page-blog__content img{
  max-height: rem(600);
  height: 100%;
  width: 100%;
  margin: rem(20) auto 0;
  object-fit: contain;
  @include mq("md") {
    margin-top: rem(38);
  }
}

.page-blog__content p{
  margin-top: rem(24);
  font-size: rem(16);
  color: $black;
  @include mq("md") {
    margin-top: rem(40);
  }
}

.page-blog__content ul {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.page-blog__content li {
  font-size: rem(16);
  color: $black;
  line-height: calc(24 / 16);
  position: relative;
  margin-left: rem(28);
}

.page-blog__content li::before {
  content: "";
  position: absolute;
  top: 0.1875rem;
  left: rem(-26);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish-blue.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-blog__content li:not(:first-child) {
  margin-top: rem(4);
}
