@use "global" as *;

.widget-header {
  display: flex;
  align-items: center;
  gap: rem(14);
  position: relative;
}

.widget-header::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: rem(8);
  height: rem(50);
  background-color: $green;
}

.widget-header__icon {
  width: rem(40);
  height: rem(35);
  margin-left: rem(28);
}

.widget-header__icon svg {
  fill: #0d2936;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.widget-header__title {
  font-size: rem(24);
  font-weight: $regular;
  color: $black;
}
